@model WebApp.Models.Workers
<form asp-controller="workers" asp-action="create" method="post" enctype="multipart/form-data">
    <div class="modal-header">
        <h4 class="modal-title">Worker creation</h4>
    </div>

    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label asp-for="FullName" class="control-label">Full Name</label>
                </div>
                <div class="col">
                    <span asp-validation-for="FullName" style="color: red; float:right"></span>
                </div>
            </div>
            <input type="text" asp-for="FullName" required class="form-control" />
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label asp-for="Avatar" class="control-label">Image</label>
                </div>
                <div class="col">
                    <span asp-validation-for="Avatar" style="color: red; float:right"></span>
                </div>
            </div>
            <input type="file" asp-for="Avatar" required class="form-control" />
        </div>
        @if (User.IsInRole("admin"))
        {
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label asp-for="ClientID" class="control-label">ClientID</label>
                    </div>
                    <div class="col">
                        <span asp-validation-for="ClientID" style="color: red; float:right"></span>
                    </div>
                </div>
                <input type="text" asp-for="ClientID" required class="form-control" />
            </div>
        }
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" value="Send" class="btn btn-primary">Create</button>
    </div>
</form>