@{
    ViewData["Title"] = "Workers";
}
<button type="button" style="margin-bottom:15px" class="btn btn-primary right">Add worker</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">FullName</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Otto Mark</td>
            <td>Test</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob Thornton</td>
            <td>Test2</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>Test3</td>
        </tr>
    </tbody>
</table>
