@{ ViewData["Title"] = "Workers"; }

@*Open create form*@
<button type="button" class="btn btn-primary right" style="margin-bottom:15px" data-toggle="modal" data-target="#createModal">Add worker</button>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">FullName</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Otto Mark</td>
            <td>Test</td>
            <td class="for-buttons">
                <button type="button" class="btn btn-success btn-intable" data-toggle="modal" data-target="#editModal"><i class="far fa-edit"></i></button>
                <button type="button" class="btn btn-danger btn-intable"><i class="far fa-trash-alt"></i></button>
            </td>
        </tr>
        <tr>
    </tbody>
</table>

@*Create form*@
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<form method="post" asp-controller="worker" asp-action="create">*@
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Worker creation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Test
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Create worker</button>
            </div>
            @*</form>*@
        </div>
    </div>
</div>

@*Edit form*@
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<form method="post" asp-controller="worker" asp-action="edit">*@
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Worker editing</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            @*</form>*@
        </div>
    </div>
</div>