@{
    ViewData["Title"] = "Results";
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">FullName</th>
            <th scope="col">FaceRectangle</th>
            <th scope="col">CameraID</th>
            <th scope="col">ClientID</th>
            <th scope="col">FileName</th>
            <th scope="col">DateTime</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Otto Mark</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob Thornton</td>
            <td>Test2</td>
            <td>Test2</td>
            <td>Test2</td>
            <td>Test2</td>
            <td>Test2</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>Test3</td>
            <td>Test3</td>
            <td>Test3</td>
            <td>Test3</td>
            <td>Test3</td>
        </tr>
    </tbody>
</table>
