<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="inputFilePath" value="./input.jpg" />
      <add key="subscriptionKey" value="585d3cc48b4c4d449862067c6220e753" />
      <add key="uriBase" value="https://midiseu.cognitiveservices.azure.com/face/v1.0/detect" />
    </appSettings> 
</configuration>